*{
  margin: 0;
}


footer{
  text-align: center;
  text-decoration:underline;
}
br{
  border-style: solid;
  border-width: medium;
}
body{
  background-image: linear-gradient(#FFF,#B2A4FF);
  background-repeat: no-repeat;
  background-size:cover;
}

/* Navigation bar */

.topnav {
  overflow: hidden;
  background-image: linear-gradient(#B2A4FF,#FFF);
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 15px 17px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color:white;
  color: black;
}

.topnav a.active {
  background-color: #B2A4FF;
  color: white;
}
.topnav a.active:hover {
  background-color: white;
  color: black;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


.MainContent{
  background-color: transparent;
  min-height:550px;
}


#div1{
  width: 27.33%;
  float: right;
  height: 600px;
  margin-top: 2%;
  margin-right: 0.5%;
  border-color: #3F4756;
  border-style: solid;
  border-radius: 20px;
  border-top: none;
  border-bottom: none;
  border-right: none;

}
#div2{
  width: 27.33%;
  float: left;
  margin-top: 2%;
  height: 600px;
  margin-left: 0.5%;
  border-color: #3F4756;
  border-style: solid;
  border-radius: 20px;
  border-top: none;
  border-bottom: none;
  border-left: none;
}
#div3{
  width: 40.33%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: #3F4756;
  border-radius: 20px;
  border-top: none;
  border-bottom: none;
  height: 400px;
}

.classdiv3 button{
  border-color:#555;
  border-style: solid;
  border-radius: 17px;
  background-color: #A3ABBD;
  position: relative;
  width:70%;
  height: 60px;
  display: inline-block;
  margin-left: 15%;
  margin-top: 35px;
  margin-bottom: 35px;
}

.classdiv3 button:hover{
  background-color:#3F4756;
  border-color:#888;

}


/* netda.html ki css  */


.container {
  background-color: transparent;
  font-family:'san-serif';
  margin-top:30px;
  float:left;
  padding:10px;
}
.container.left{
  width: 58%;
  border-width: 2px;
}
.container.right{
  width: 34%;
  border: black;
  border-width: thin;
  border-style: groove;
  min-height: 392px;
  margin-left: 15px;
  border-radius: 10px
}
.uppercontainer{
  min-height: 350px;
}
#showmixresult{
  left:40%;
}
table{
  overflow-y:scroll;
  text-align: center;
  border-radius: 10px;
  width:100%;
}
th,tr,td{
  /* border: 2px solid black; */
  text-align: center;
  border-radius: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}
thead,tbody{
  background-image:linear-gradient(#B2A4FF,#FFF);
}
.empnameheader{
  width:45%;
}
.salaryheader{
  width: 40%;
}
.DAheader{
  width: 15%;
}
.MainContent:after {
  content: "";
  display: table;
  clear: both;
}
/* Make conatiners responsive */
@media screen and (max-width:800px) {
  .container {
    width: 100%;
  }
}
.container button{
  border-radius: 10px;
  border-color:#555;
  background-color: #A3ABBD;
  display: inline-block;
  left:60%;
  width:20%;
  height:50px;
  position: relative;
}
.container button:hover{
  background-color:#3F4756;
  border-color:#888;

}

#addnxtbtnda{
  left:60%;
}

#addnxtbtninc{
  left:60%;
}


#resetbtn{
  left:10%;
}

h2 {
  font-weight:normal;
  text-align:center;
  margin-bottom:50px;
}
h2 small {
  font-weight:normal;
  color:#888;
  display:block;
}

/* form starting stylings ------------------------------- */
.group {
  position:relative;
  margin-bottom:45px;
  left:20%;
}
input 				{
  background-color: transparent;
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:60%;
  border:none;
  /* border-color: #3F4756; */

  border-bottom:1px solid #3F4756;
}
input:focus { outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#3F4756;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#6B0B3D;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#6B0B3D;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#6B0B3D; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#6B0B3D; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#6B0B3D; }
  to 	{ width:0; background:transparent; }
}



/******************************************************/
