* {
  margin: 0;
}

/* css for table scrolling */
.uppercontainer{
       overflow-y: auto; /* make the table scrollable if height is more than 200 px  */
       height: 400px; /* gives an initial height of 200px to the table */
       overflow-x: auto; /* make the table scrollable if height is more than 200 px  */
       width: 100%; /* gives an initial height of 200px to the table */

       /* Hide scrollbar for IE, Edge and Firefox */

}
footer {
  text-align: center;
  text-decoration: underline;
}

br {
  border-style: solid;
  border-width: medium;
}

body {
  background-image: linear-gradient(#FFF, #B2A4FF);
  background-repeat: no-repeat;
  background-size: cover;
}
/* netda.html ki css  */
.container {
  background-color: transparent;
  font-family: 'san-serif';
  margin-top: 30px;
  float: left;
  padding: 10px;
}



thead, tbody {
  background-image: linear-gradient(#B2A4FF, #FFF);
}

.empnameheader {
  width: 45%;
}

.salaryheader {
  width: 40%;
}

.DAheader {
  width: 15%;
}

.MainContent:after {
  content: "";
  display: table;
  clear: both;
}

/* Make conatiners responsive */
@media screen and (max-width:800px) {
  .container {
    width: 100%;
  }
}

.container button {
  border-radius: 10px;
  border-color: #555;
  background-color: #A3ABBD;
  display: inline-block;
  left: 60%;
  width: 20%;
  height: 50px;
  position: relative;
}

.container button:hover {
  background-color: #3F4756;
  border-color: #888;
}

#addnxtbtnda {
  left: 60%;
}

#addnxtbtninc {
  left: 60%;
}


#resetbtn{
  left:0%;
}

h2 {
  font-weight: normal;
  text-align: center;
  margin-bottom: 50px;
}

h2 small {
  font-weight: normal;
  color: #888;
  display: block;
}
